@use "src/asset/styles/mixins";
@use "src/asset/styles/var";

.ourPopularProducts {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__headline {
    text-align: left;
    color: var.$text-color-three;
    @include mixins.H2;
    gap: 25px;
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;

    .el {
      display: flex;
      gap: 24px;
      height: 462px;
      width: calc((100% / 4) - (12px * 3 / 4));
      flex-direction: column;

      .image {
        height: 375px;
        object-fit: cover;
        width: 100%;
        max-width: 305px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
          @include mixins.H4;
          color: var.$text-color-three;
        }

        .price {
          @include mixins.H5;
          color: var.$text-color-three;
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
  }
}