@use "src/asset/styles/mixins";
@use "src/asset/styles/var";

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;

  .image {
    height: 375px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: left;

    .title {
      @include mixins.H4;
      color: var.$text-color-three;
    }

    .price {
      @include mixins.H5;
      color: var.$text-color-three;
    }
  }
}