@use "src/asset/styles/mixins";
@use "src/asset/styles/var";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var.$border-color-prime;
  padding: 20px 0;

  .imageEl {
    cursor: pointer;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}