@mixin body01 {
  font-size: 16px;
  font-weight: 400;
}

@mixin body02 {
  font-size: 14px;
  font-weight: 400;
}

@mixin H1 {
  font-size: 36px;
  font-weight: 400;
}

@mixin H2 {
  font-size: 32px;
  font-weight: 400;
}

@mixin H3 {
  font-size: 24px;
  font-weight: 400;
}

@mixin H4 {
  font-size: 20px;
  font-weight: 400;
}

@mixin H5 {
  font-size: 18px;
  font-weight: 400;
}