$background-color-prime: #2A254B;
$background-color-second: #F9F9F9;

$button-color-prime: #F9F9F9;
$button-color-prime-opacity: rgba(249, 249, 249, 0.15);
$button-color-second: #2A254B;
$button-color-tree: #FFFFFF;

$border-color-second: #2A254B;
$button-color-three: #FFFFFF;

$border-color-prime: rgba(0, 0, 0, 0.1);
$border-color-three: #4E4D93;

$input-color-prime: #F9F9F9;
$input-color-second: rgba(255, 255, 255, 0.15);

$text-color-prime: #726E8D;
$text-color-second: #FFFFFF;
$text-color-three: #2A254B;